<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('.new_purchase') %></h1>
      <%= render partial: 'form', locals: {new: true} %>
      <%= link_to(purchases_path) do %>
      <span class="btn btn-sm btn-default"><%= t('.action.back') %></span>
      <% end %>
    </div>
  </div>
</div>
