/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  height: auto;
}

.btn-default {
  border: 1px solid #333;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  // コンテンツの高さが足りない時にウィンドウの一番下に置かれるようにする.
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  background-color: #303030;
  color: #ccc;
  font-size: 12px;
}

// form-control class による width=100% を無効化.
.ck-date-auto-width {
  width: auto;
}
