<nav class='navbar navbar-dark bg-success navbar-fixed-top'>
  <div class="container-fluid">
    <a class='navbar-brand' href='<%= root_path %>'><%= t('title') %></a>
    
    <%# navbar の左側. %>
    <div class='navbar-nav mr-auto'>
      <%= link_to(Purchase.model_name.human, purchases_path, class: 'nav-item nav-link') %>
    </div>
    <%# navbar の右側. %>
    <div class='navbar-nav'>
    </div>
  </div>
</nav>
